<% provide(:title, "Blog") %>

<!DOCTYPE html>
<html>
  <head> 
    <title> <%= yield(:title) %> | Syte </title>
  </head>

  <body>
    <h1> Blog </h1>

    <p>
      This view will show what project ideas I have and what I'm currently working
      on as well as anything else related to my relevant interests.
    </p>

    <p>
      This view's style will complement the homepage.
    </p>
  </body>
</html>
