<!DOCTYPE html> 
<html>
  <head> 
    <title> Home | Syte </title>
  </head>

  <body>
    <h1> Home </h1>

    <p>
      This view will display my cool eighties synthwave style site (syte) in all
      its glory (hopefully).
    </p>
  </body>
</html>
