<!-- Page will display default title -->

<!-- Page body -->

<div class="hero-one">
  <h1> Home </h1>
</div>

<div class="hero-two">
  <!-- Navigational links -->
  <ul class="links">
    <!-- _blank: link opens in a new tab -->
    <!-- Empty list elements at ends ensure navigation links fully centered -->
    <li></li>
    <li> <%= link_to "Resume",   '/Documents/Resume.pdf',     target: '_blank' %> 
      <!-- Every navigation link has an animated bar under it -->
      <div class="bar1"></div> </li>

    <li> <%= link_to "Blog",     blog_path %> 
      <div class="bar2"></div> </li>

    <li> <%= link_to "Git",      'http://github.com/ganglians',   target: '_blank' %>
      <div class="bar3"></div> </li>

    <li> <%= link_to "Linkedin", 'http://linkedin.com/in/jccjr/', target: '_blank' %> 
      <div class="bar4"></div> </li>
    <li></li>
  </ul>
</div>

<div class="hero-three">
  <!-- Grid layout (this class is mostly for clarity)-->
  <div class = "grid">
    <!-- Horizontal ('left and right') grid lines -->
    <div class="lr1"></div>
    <div class="lr2"></div>
    <div class="lr3"></div>
    <div class="lr4"></div>
    <div class="lr5"></div>
    <div class="lr6"></div>
    <div class="lr7"></div>

    <!-- Vertical ('up and down') grid lines -->
    <div class="ud1"></div>
    <div class="ud2"></div>
    <div class="ud3"></div>
    <div class="ud4"></div>
    <div class="ud5"></div>
    <div class="ud6"></div>
    <div class="ud7"></div>
    <div class="ud8"></div>
    <div class="ud9"></div>
    <div class="ud10"></div>
<!--     <div class="ud3"></div> -->
  </div>
</div>