<!-- Page will display default title -->

<!-- Page body -->


<h1> Home </h1>

<!-- Navigational links -->

<!-- _blank: open in new tab -->
<ul>
  <li> <%= link_to "Resume",   '/assets/Resume.pdf',     target: '_blank' %> </li>
  <li> <%= link_to "Blog",     blog_path %> </li>
  <li> <%= link_to "Git",      'http://github.com/ganglians',   target: '_blank' %> </li>
  <li> <%= link_to "Linkedin", 'http://linkedin.com/in/jccjr/', target: '_blank' %> </li>
</ul>