<!-- Page will display default title -->

<!-- Page body -->

<div class="hero-one">
  <h1> Home </h1>
</div>

<div class="hero-two">
  <!-- Navigational links -->
  <ul class="links">
    <!-- _blank: link opens in a new tab -->
    <!-- Empty list elements ensure navigation links fully centered -->
    <li></li>
    <li> <%= link_to "Resume",   '/Documents/Resume.pdf',     target: '_blank' %> </li>
    <li> <%= link_to "Blog",     blog_path %> </li>
    <li> <%= link_to "Git",      'http://github.com/ganglians',   target: '_blank' %> </li>
    <li> <%= link_to "Linkedin", 'http://linkedin.com/in/jccjr/', target: '_blank' %> </li>
    <li></li>
  </ul>
  <!-- TEST -->
  <div class="parallelogram"></div>
<!--   <div class="parallelogram"></div> -->
</div>