/*Home page's styling*/
.home {
/*Mixins, variables, etc.*/
/*Color variables*/
$aqua:      #35FBFC;
$blue:      #3d6bf9;
$green:     #9ADAC0;
$lime:      #FFFDAC;
$navy:      #194cbf;
$peach:     #fd9475;
$pink:      #ff00cc;
$violet:    #8f00ff;
$purple:    #bf00ff;
$red:       #f93d6b;
$teal:      #38e3c4;
$onyx:      #0f0f0f;

/*The color that both hero-one and hero-three have as a gradient transition*/
$mid-color: #666699;
/*$mid-color: #000000;*/
/*height: 100vh;*/
background: linear-gradient(to top, #071957 -5vh, $mid-color, #000000);

/*Represents a single bar of specified height, color, and animation speed*/
@mixin parallelogram($bar-height, $bar-width, $color1, $color2: transparent) {
  width: $bar-width;
  height: $bar-height;
  
  /*Remove bar from normal doc. flow. move to starting point (top left)
  of non-static parent. Make it start at bottom of said parent. Defaults 
  to html tag if no other parent is removed from normal doc flow */
  position: absolute;
  background: linear-gradient(to top, $color1, $color2);
}

/*HOME*/
/*The home view's three partitions*/
.hero-one {
  height: 55vh;

  h1 {
    font-family: 'Open Sans', helvetica, arial, sans;
    font-size: 10rem;   
    padding: 10vh;
    text-align: center;
  }

  .sun {
    /*position: absolute;*/
    display: block;
    width: 30vw;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-two {
  /*Allow visibility even when hero three changes perspective*/
  z-index: 1;
  /*Transparent background*/
  background-color: rgba(0, 0, 0, 0);
  background-image:url('sky.svg');
  background-repeat: no-repeat;
  background-size: 105vw 20vh;
  /*hero section dimensions*/
  width: 100vw;
  height: 23vh;
  /*Remove hero two from document flow. Can Take as much space as needed or more
  if specified. Space it used to take up below is taken over by hero three, 
  which is fine since hero three is purely decorative (and the flexibility
  opens up some interesting possibilities).*/
  position: absolute;

  /*Set up soundbar positioning and animation, can take a 'glow' color and 
  animation delay as arguments*/
  @mixin bar-properties($bar-color: #ffffff, $bar-delay: 0ms) {
    /*Keyframes for bounce animation; alters height like sound bars*/
    @keyframes bounce {
      0% {
        height: 18vh;
      }
      100% {
        height: 18.25vh;
      }
    }
    
    /*Aesthetic only*/
    opacity: 0.95;
    /*Bar positioning don't need because bars positioned at bottom of h2 which 
    is where they should be positioned*/
    /*position: absolute;*/
    bottom: 0;
    /*Bind the bounce animation to the bars*/
    animation-name: bounce;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 400ms;
    animation-delay: $bar-delay;
    animation-direction: alternate;
    /*Add a 'glow' to each bar according to color*/
    box-shadow: 0vw 0vh 4vh 0.25vh $bar-color;
  }

  /*Navigaiton links*/
  .links {
    /*Spaces words out to take up whole width*/
    display: flex;
    justify-content: space-between;

    /*Links with bars*/
    li {
      list-style: none;
      /*Bar dimensions*/
      $bh: 14vh; /*height*/
      $bw: 4vw;  /*width*/

      a {
        /*Remove traditional link style*/
        text-decoration: none;
        color: $pink;
        font-family: 'Open Sans', helvetica, arial, sans;
        font-size: 1em;
        font-weight: bold;

        /*Links change color when hovered over*/
        &:hover,
        &:active {
          color: $purple;
        }
        position: relative;
        bottom: 4vh;
      }

      /*img {*/
        .icon {
          /*display: block;*/
          /*width: 40px;*/
          /*height: 20px;*/
          width: 3vw;
          /*Default color*/
          filter: invert(15%) sepia(94%) saturate(3967%) hue-rotate(305deg) brightness(111%) contrast(122%);

          &:hover,
          &:active {
            filter: invert(14%) sepia(99%) saturate(4163%) hue-rotate(280deg) brightness(109%) contrast(123%);
          }
        }
      /*}*/
      /*Animated bars that go right under the navigation links*/
      .bar1 {
        @include parallelogram($bh, $bw, #9933ff, #cc00ff);
        /*Bar container has absolute position, separates section from list 
        elements and allows them to grow from the bottom up by grounding bar1 
        element with 'bottom: 0' to closest parent not bound to flow (in this
        case, hero two)*/
        @include bar-properties(#cc00ff);
        /*Placeholder (make bars less bright later)*/
        opacity: 0.70;
      }
      .bar2 {
        @include parallelogram($bh, $bw, #00ff99, #00ffcc);
        @include bar-properties(#00ffcc, 150ms);
        /*Placeholder (make bars less bright later)*/
        opacity: 0.70;
      }
      .bar3 {
        @include parallelogram($bh, $bw, $pink, #ff66ff);
        @include bar-properties(#ff66ff);
        /*Placeholder (make bars less bright later)*/
        opacity: 0.70;
      }
      .bar4 {
        @include parallelogram($bh, $bw, #99ffcc, #99ffff);
        @include bar-properties(#99ffff, 200ms);
        /*Placeholder (make bars less bright later)*/
        opacity: 0.70;
      }
    }
  }
}

.hero-three {
  /*Hero height, not needed but put here for clarity*/
  $hh: 45vh;
  /*Hero three takes up remaining vertical space available on page*/
  height: $hh;
  overflow: hidden;

  /*Grid plane that contains the grid within it*/
  .horizontal-horizon {
    @include parallelogram(1vw, 100vw, $aqua, $aqua);
    position: relative;
    /*Position it at arond where gridlines end*/
    top: 20vh;
    box-shadow: 0vw -0.25vh 10px 0.3vh $aqua, 0vw 0.23vh 10px -0.3vh $aqua;
    /*Bring horizontal horizon line to the front of bars for a smooth 
    transition*/
    z-index: 0;
    opacity: 0.5;
  }
  .plane {
    /*Assign same height as parent to position everything as if working in hero three*/
    /*position: absolute;*/
    height: 45vh;
    /*Set a perspective from where to observe the transformed grid*/
    perspective: 10vh;
    /*overflow: hidden;*/

    .grid {
      /*position: absolute;*/
      /*Ensure grid covers lines in their entirety, even when grid rotates*/
      width: 100%;
      height: 100%;
      /*Line thickness*/
      $lt: 0.7vh;
      /*Line height (for ud lines)*/
      $lh: 45vh;
      opacity: 0.5;
      /*Create illusion of grid horizon*/
      transform: rotateX(45deg);

      .horizontal-gridlines {    
        div:nth-of-type(1) {
          @include parallelogram($lt, 100vw, $aqua, transparent);
          /*box-shadow: 0vw -0.10vh 10px 0.3vh $aqua, 0vw 0.10vh 10px -0.3vh $aqua;*/
          top: 45%;
        }
        div:nth-of-type(2) {
          @include parallelogram($lt, 100vw, $aqua, transparent);
          top: 50%;
        }
        div:nth-of-type(3) {
          @include parallelogram($lt, 100vw, $aqua, transparent);
          top: 55%;
        }
        div:nth-of-type(4) {
          @include parallelogram($lt, 100vw, $aqua, transparent);
          top: 60%;
        }
        div:nth-of-type(5) {
          @include parallelogram($lt, 100vw, $aqua, transparent);
          top: 65%;
        }
        div:nth-of-type(6) {
          @include parallelogram($lt, 100vw, $aqua, transparent);
          top: 70%;
        }
      }

      /*Vertical lines ('ud' going up and down)*/
      .vertical-gridlines {
        position: relative;
        bottom: -18vh;
        div:nth-of-type(1) {
          @include parallelogram($lh, $lt, $aqua, $aqua);
          /*position: absolute;*/
          /*background: linear-gradient(to left, $aqua, transparent);*/
          left: 0%;
        }
        div:nth-of-type(2) {
          @include parallelogram($lh, $lt, $aqua, $aqua);
          left: 10%;
        }
        div:nth-of-type(3) {
          @include parallelogram($lh, $lt, $aqua, $aqua);
          left: 20%;
        }
        div:nth-of-type(4) {
          @include parallelogram($lh, $lt, $aqua, $aqua);
          left: 30%;
        }
        div:nth-of-type(5) {
          @include parallelogram($lh, $lt, $aqua, $aqua);
          /*background: linear-gradient(to left, $aqua, transparent);*/
          left: 40%;
        }
        div:nth-of-type(6) {
          @include parallelogram($lh, $lt, $aqua, $aqua);
          left: 50%;
        }
        div:nth-of-type(7) {
          @include parallelogram($lh, $lt, $aqua, $aqua);
          left: 60%;
        }
        div:nth-of-type(8) {
          @include parallelogram($lh, $lt, $aqua, $aqua);
          left: 70%;
        }
        div:nth-of-type(9) {
          @include parallelogram($lh, $lt, $aqua, $aqua);
          left: 80%;
        }
        div:nth-of-type(10) {
          @include parallelogram($lh, $lt, $aqua, $aqua);
          left: 90%;
        }
        div:nth-of-type(11) {
          @include parallelogram($lh, $lt, $aqua, $aqua);
          left: 100%;
        }
      } /* .vertical-gridlines END */
    } /* .grid END */ 
  } /* .plane END */
}
}