/*Including this framework because it makes site responsive*/
/*@import "bootstrap-sprockets";*/ /*Implements asset pipeline*/
/*@import "bootstrap";*/

/*Color variables*/
$aqua:      #67E6EC;
$blue:      #3d6bf9;
$green:     #32cd32;
$lime:      #bfff00;
$peach:     #fd9475;
$pink:      #ff00cc;
$violet:    #8f00ff;
$purple:    #bf00ff;
$red:       #f93d6b;
$teal:      #38e3c4;

/*HOME*/
/*The home view's two main partitions*/
.hero-one {
  background-color: #c7dbfc;
  height: 60vh;

  h1 {
    font-family: 'Open Sans', helvetica, arial, sans;
    font-size: 5rem;   
    padding: 10vh;
    text-align: center;
  }
}

.hero-two {
  /*Background settings*/
  background-color: #3f0046;
  /*Hero two takes up remaining vertical space available on page*/
  height: 40vh;

  /*Mixins, variables, etc.*/
  /*Represents a single bar of specified height, color, and animation speed*/
  @mixin parallelogram($bar-height, $bar-width ,$color1, $color2: transparent) {
    /*Ensure bar height does not pass the nav links*/
    /*max-height: 35vh;*/
    /*width: 40px;*/
    width: $bar-width;
    /*Arbitrary height as a base for now*/
    height: $bar-height;
    
    /*Remove bar from normal doc. flow. move to starting point (top left)
    of non-static parent. Make it start at bottom of said parent. Defaults 
    to html tag in this case */
    position: absolute;
    bottom: 0;

    /*Make bars gradiate to trapsparency*/
    background: linear-gradient(to top, $color1, $color2);
    /*background: #545;*/
  }

  /*Keyframes for bounce animation; alters height like sound bars*/
  @keyframes bounce {
    0% {
      height: 33.5vh;
    }

    100% {
      height: 34vh;
    }
  }

  @mixin animate($bar-delay: 0ms) {
    /*Bind bounce animation for bars*/
    animation-name: bounce;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 444ms;
    animation-delay: $bar-delay;
    animation-direction: alternate;
  }

  /*Navigaiton links*/
  .links {
    /*Spaces words out to take up whole line*/
    display: flex;
    justify-content: space-between;
      /*Setting the height of links to 100% of it's parent '.hero-two', has 
      no extra height otherwise*/
      /*height: 100%;*/

    /*Links with bars*/
    li {
      list-style: none;

      a {
        /*Remove traditional link style*/
        text-decoration: none;

        color: $peach;
        font-family: 'Open Sans', helvetica, arial, sans;
        font-size: 3vh;
        font-weight: bold;
        /*Links change color when hovered over*/
        &:hover,
        &:active {
          color: $purple;
        }
      }
      /*Animated bars that go right under the navigation lins*/
      .bar1 {
        @include parallelogram(20vh, 40px, $purple, $violet);
        @include animate();
      }

      .bar2 {
        @include parallelogram(29vh, 40px, $blue, $aqua);
        @include animate(150ms);
      }

      .bar3 {
        @include parallelogram(25vh, 40px, $pink, $peach);
        @include animate();
      }

      .bar4 {
        @include parallelogram(32vh, 40px, $green, $lime);
        @include animate(200ms);
      }
    }
  }
/*  @keyframes test {
    0%  {perspective:  0.5vh;}
    50% {perspective:  50vh;}
    100% {perspective: 100vh;}
  }
  animation-name: test;
  animation-duration: 5s;
  animation-iteration-count: infinite;*/

  perspective: 10vh;
  overflow: hidden;

  /*Grid*/
  .grid {
    /*Horizontal lines ('lr', going left and right)*/
    /*Set grid at an angle to see a horizon from hero two's perspective*/
    transform: rotateX(10deg);
    /*perspective: 0.1vh;*/

    .lr1 {
      @include parallelogram(1vh, 100vw, $teal, $teal);
      transform: translate(0vw, 0vh);
    } 
    .lr2 {
      @include parallelogram(1vh, 100vw, $teal);
      transform: translate(0vw, 5vh);
    }
    .lr3 {
      @include parallelogram(1vh, 100vw, $teal);
      transform: translate(0vw, 10vh);
    }
    .lr4 {
      @include parallelogram(1vh, 100vw, $teal);
      transform: translate(0vw, 15vh);
    }
    .lr5 {
      @include parallelogram(1vh, 100vw, $teal);
      transform: translate(0vw, 20vh);
    }
    .lr6 {
      @include parallelogram(1vh, 100vw, $teal);
      transform: translate(0vw, 25vh);
    }
    .lr7 {
      @include parallelogram(1vh, 100vw, $teal);
      transform: translate(0vw, 30vh);
    }    

    /*Vertical lines ('ud' going up and down)*/
    .ud1 {
      @include parallelogram(40vh, 1vw, $teal);
      transform: translate(0vw, 40vh);
    }
    .ud2 {
      @include parallelogram(40vh, 1vw, $teal);
      transform: translate(10vw, 40vh);
    }
    .ud3 {
      @include parallelogram(40vh, 1vw, $teal);
      transform: translate(20vw, 40vh);
    }
    .ud4 {
      @include parallelogram(40vh, 1vw, $teal);
      transform: translate(30vw, 40vh);
    }
    .ud5 {
      @include parallelogram(40vh, 1vw, $teal);
      transform: translate(40vw, 40vh);
    }
    .ud6 {
      @include parallelogram(40vh, 1vw, $teal);
      transform: translate(50vw, 40vh);
    }
    .ud7 {
      @include parallelogram(40vh, 1vw, $teal);
      transform: translate(60vw, 40vh);
    }
    .ud8 {
      @include parallelogram(40vh, 1vw, $teal);
      transform: translate(70vw, 40vh);
    }
    .ud9 {
      @include parallelogram(40vh, 1vw, $teal);
      transform: translate(80vw, 40vh);
    }
    .ud10 {
      @include parallelogram(40vh, 1vw, $teal);
      transform: translate(90vw, 40vh);
    }
  }
}