<!-- Static pages -->
<!DOCTYPE html>
<html>
  <head>
    <!-- Views provide :title to helper method -->
    <title> <%= full_title(yield(:title)) %> </title>

    <!-- Partials for head -->
    <%= render 'layouts/head' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <!-- Page body -->
    <%= yield %>
  </body>
</html>
